body {
  background-color: #f0efe9;
}
.box {
  width: 500px;
  margin: 0 auto;
  background-color: white;
  margin-top: 100px;
  padding: 50px !important;
}
.button {
  position: absolute;
  margin-left: -50px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #47c28e;
  font-size: 40px;
  background-color: #50e3a4;
  border: 0px;
}
.button-center {
  align-items: center;
  text-align: center;
}
.dateday {
  height: 50px;
}
.date {
  font-size: 32px;
  margin-top: 0;
}
.month-year {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 10px;
}
.day {
  font-size: 20px;
  margin-top: 8px;
}
